{{ define "main" }}
<style>
  :root {
    --width: 800px;
    --font-main: "Roboto Mono", sans-serif;
    --font-secondary: "Roboto Mono", sans-serif;
    --font-scale: 0.9em;
  }

  .container {
    max-width: 800px;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  h1, h2, h3 {
    color: #333;
    margin: 0;
  }

  p {
    margin-top: 10px;
    margin-top: 10px;
  }

  ul {
    margin-bottom: 0.5em;
    margin-top: 0.1em;
  }

  .section {
    margin: 0;
    line-height: 1.25;
  }
  .contact a {
    display: inline-flex;      /* Makes the link a flex container */
    align-items: center;       /* Vertically aligns SVG and text */
    color: #0077cc;
    text-decoration: none;
    margin-right: 15px;
  }
  .contact img {
      height: 1.5em;               /* Match font size */
      width: auto;
      justify-content: center; /* Horizontally center */
      align-items: center; /* Vertically center */
      vertical-align: middle;
  }
  .job {
      margin-bottom: 10px;
  }
  .skills {
      display: flex;
      flex-wrap: wrap;
  }

  .text-start {
    text-align: left !important;
  }
  .text-end {
    text-align: right !important;
  }

  .col {
    flex: 1 0 0%;
  }

  .col-auto {
      flex: 0 0 auto;
      width: auto;
  }

  align-items-center {
    align-items: center !important;
  }
  .justify-content-between {
    justify-content: space-between !important;
  }
  .d-flex {
    display: flex !important;
  }
</style>

<content>
  {{ .Content }}
</content>
{{ end }}
